<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        {% block head_content %} {% endblock %}
    </head>
    
    <body>
        <header class="header">
            <h1 class="header__logo"><a href="{{ url_for('index') }}" class="header__link">Habits</a></h1>
            {% if "add" not in request.endpoint %}
                <a href="{{ url_for('add_habit') }}" class="header__link">+ Add new</a>
            {% endif %}
        </header>

        <main class="main">
            <section class="dates">
                <!--call our date_range function using 
                    the selected date that was passed into the render template
                    in order to get a list of dates and then display them-->
                {% for date in date_range(selected_date) %}
                    <!--dates are displayed with a link that when clicked on refreshes the page
                        and changes the 'date' variable-->
                    <!--the class of the date link is changed when the loop is at index 3
                        so that we can modify that specific date to look different-->
                    <a 
                        class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else ''}}" 
                        href="{{ url_for('index', date=date)}}">
                        <time class="date" datetime="{{ date }}">
                            <!--display day of the week-->
                            <span>{{ date.strftime("%a") }}</span>
                            <!--display day of the month-->
                            <span>{{ date.strftime("%d") }}</span>
                        </time>
                    </a>
                {% endfor %}
            </section>
            {% block main_content %}
            {% endblock %}
        </main>
    </body>
</html>